/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		
	}
	table {
		width: 100%;
	}
	td {
		padding: 10px;
		border-top: 1px solid #eee;
		width: 15em;
	}
	.header {
		padding: 50px 0;
	}
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}