/**
 * Get base 24px CSS
 *
 * @since 12.09
 * @package Nifty
 * @subpackage CSS
 */

html, body, address, div, dl, dt, dd, ul, ol, h1, h2, h3, h4, h5, h6, hr, pre, code, form, fieldset, legend, input, img, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0
}

html {
	overflow-y: scroll
}

:focus {
	outline: none
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	line-height: 24px
}

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: normal;
	margin-bottom: 24px
}

h1 {
	font-size: 1.9em
}

h2 {
	font-size: 1.7em
}

h3 {
	font-size: 1.55em
}

h4 {
	font-size: 1.4em
}

h5 {
	font-size: 1.25em
}

h6 {
	font-size: 1.1em
}

p {
	margin-bottom: 24px
}

a {
	cursor: pointer;
	text-decoration: none
}

a img {
	border: none
}

ol, ul {
	list-style: none
}

ul {
	list-style: disc;
	margin: 0 0 24px 2.5em
}

ol {
	list-style-type: decimal;
	margin: 0 0 24px 3em
}

ol ol {
	list-style: upper-roman
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0
}

dl {
	margin: 0 0 18px 3px
}

dl dt {
	font-weight: bold;
	margin: 12px 0 0 0
}

dl dd {
	margin: 6px 0 0 1.5em
}

strong {
	font-weight: bold
}

em, cite{
	font-style: italic
}

abbr {
	cursor: help
}

acronym {
	border-bottom: 1px dashed #666;
	cursor: help;
	text-transform: uppercase
}

big {
	font-size: 120%
}

small, sup, sub {
	font-size: 80%
}

sup {
	bottom: 0.3em;
	position: relative;
	vertical-align: baseline
}

sub {
	position: relative;
	top: 0.3em;
	vertical-align: baseline
}

address {
	font-style: italic;
	margin-bottom: 24px
}

li address, dd address {
	margin: 0
}

blockquote {
	margin: 24px;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
}

blockquote em, blockquote cite {
	font-style: normal
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}

pre {
	overflow: auto;
	font: 85%/20px "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	margin-bottom: 20px;
	padding: 9px
}

code {
	font: .9em "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

pre code {
	font-size: 1em
}

ins, dfn {
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px solid #666
}

del {
	text-decoration: line-through
}

object {
	margin-bottom: 24px
}

form label {
	cursor: pointer
}

input, textarea, select {
	font-family: inherit;
	font-size: 99%;
	padding: 3px
}

input[type=text], input[type=password], textarea, select {
	background-color: #fff;
	border: 1px solid #bbb
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
	border-color: #666
}

input[type=checkbox], input[type=radio] {
	position: relative
}

input[type=submit]:hover {
	cursor: pointer
}

option {
	padding: 1px 3px
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 24px
}

th, td {
	text-align: left
}

hr {
	margin-bottom: 24px
}

.gallery {
	display: block;
	text-align: center;
	overflow: hidden;
	margin: 0 !important
}

.gallery br {
	display: block;
	line-height: 0;
	height: 0;
}

.gallery a {
	border: none;
}

.gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%
}

.gallery-icon {
	overflow: hidden;
	margin: 0;
}

.gallery img {
	max-width: 89%;
	height: auto;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ccc;
}

.gallery-caption {
	margin: 0;
	font: normal normal normal 12px/25px Arial, Verdana, sans-serif;
	color: #999;
}

.singular-attachment .hentry .gallery-caption {
	display: none;
}

.alignleft, .left {
	float: left;
	margin-right: 20px
}

.alignright, .right {
	float: right;
	margin-left: 20px
}

.aligncenter, .center {
	display: block;
	margin: 0 auto 24px auto
}

.alignnone, .block {
	clear: both;
	margin-bottom: 24px
}

img.alignleft, img.alignright {
	display: inline
}

blockquote.alignleft, blockquote.alignright {
	width: 35%
}
