/**
 * Nifty Admin pages.
 *
 * @since 12.09
 * @package Nifty
 * @subpackage CSS
 */

/* Theme Settings Page */
.appearance_page_theme-settings .side .form-table th {
	width: 20%;
	font-weight: bold;
	text-align: left;
	padding-left: 0;
}

.appearance_page_theme-settings .metabox-holder .column-1 {
	float: left;
	width: 66%;
}

.appearance_page_theme-settings .metabox-holder .column-2 {
	float: right;
	width: 32%;
}

.appearance_page_theme-settings .metabox-holder .column-3 {
	clear: both;
	width: 100%;
}

.appearance_page_theme-settings .metabox-holder textarea {
	width: 100%;
}

#nifty-settings-layouts input[type="radio"] {
	display: none;
}

#nifty-settings-layouts input[type="radio"] + img {
	border: 2px solid #eee;
	margin-right: 23px;
}

#nifty-settings-layouts input[type="radio"]:checked + img {
	border: 2px solid #aaa;
}

